:root {
  --primary: #001011ff;
  --secondary: #093a3eff;
  --accent: #3aafb9ff;
  --disabled: #64e9eeff;
  --background: #97c8ebff;
}

.home {
  background-repeat: no-repeat;
  background-image: url(assets/cover_small.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

*{
  box-sizing: border-box;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.kisdiv {
  background-color: rgba(0,0,0,0.5);
  width: 80vw;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hozzaado {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  width: fit-content;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 2px lightgray;
}

.inputok {
  width: 90%;
}

textarea {
  resize: vertical;
  min-height: 100px;
  border-radius: 5px;
}